@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #555;
}

html,
body{
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}
 

/* Global Styles */

a {
	text-decoration: none;
}

.container {
	width: 70%;
	margin: auto;
}

.active {
	color: green;
}
.inactive {
	color: #333;
}
.completed {
	color: #003366;
}
.cancelled {
	color: orange;
}
.edit {
	color: #088da5;
}
.delete {
	color: tomato;
}
.text-center{
	text-align: center;
}
.active_link {
	background: #d0f0c0;
}
.error {
	color: tomato;
}
.success {
	color: green;
}
/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 50px;
	border-bottom: 1px solid #eee;
}
header img {
	height: 30px;
}
/* Footer */
footer {
	padding: 15px 50px;
	background: #111;
	text-align: center;
	color:  #bbb;
}

/* Main */
.seperator {
	border-top: 1px solid #eee;
	margin: 10px 0;
}

main {
	display: grid;
	grid-template-columns: 25% 75%;
}
aside {
	box-shadow: 10px 0 10px -10px #888;
	padding: 50px;
	height: 100vh;
	padding-bottom: 150px;
	overflow-y: auto;
	background: #133337;
}
.main_content{
	background: #f4f4f4;
	padding: 30px;
	
	/* overflow-y: scroll; */
}
.main_header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
}
.main_header select{
	width: 200px;
	padding: 4px;
	border: none;
	outline: none;
}
.content {
	padding: 20px;
	margin: 20px 0;
	background: #fff;
	border-radius: 5px;
	max-height: 50vh;
	overflow-y: scroll;
}
.content table {
	width: 100%;
}
.content table td {
	border-bottom: 1px solid #eee;
}
.content table tr:hover {
	background: #f1f1f1;
}

.content table th,
.content table td {
	text-align: left;
	padding: 15px;
}
.main_footer {
	position: fixed;
	bottom: 20px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: #fff;
	border-radius: 5px;

}

aside h1{
	margin-bottom: 50px;
	color: #f4f4f4;
}
.sidebar_link a {
	display: block;
	padding: 15px;
	color: #999;
}
.sidebar_link a:hover {
	background: #f4f4f4;
}

.btn {
	padding: 10px 20px;
	outline: none;
	border: none;
	text-transform: uppercase;
	cursor:  pointer;
	margin: 10px 0;
}	
.btn-dark {
	background: #333;
	color: #fff;
}
.btn-block {
	width:  100%;
}
form > label {
	display:  block;
}
form > label input[type="text"],
form > label input[type="password"]{
	width: 90%;
	padding: 5px;
	margin: 10px;

}

/* Tiles */
.tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	overflow-y: scroll;
}

.box {
	background: #fff;
	box-shadow: 0 0 10px #999;
	padding: 20px;
}
.box .box_top{
	font-size: 40px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	font-weight: bold;
}
.box-7 {
	grid-column-start: span 3;
	background: #f2ae42;
}
.box-7 .box_top{
	font-size: 60px;
}
.box-1 {
	background: #e6e6fa;
}
.box-2{
	background: #d0f0c0;
}
.box-3{
	background: #cbcba9;
}
.box-4{
	background: #d8bfd8;
}
.box-5{
	background: #ffe4e1;
}
.box-6{
	background: #dddddd;
}
